{% extends "base.html" %}
<!-- 展示单个的post/blog内容 -->
{% block app_content %}

    <table class="table table-hover">
    
        <b>All blogs:</b>
        {% if not posts.items %}
            <br>
            No one has published blog on this website!
        {% endif %}
        
        {% for post in posts.items %}
           {% include 'post.html' %}
        {% endfor %}
    </table>

    <br>
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous">
                <a href="{{ url_for('blogs', page = 1) }}">
                    <span aria-hidden="true">&larr;</span>First
                </a>
            </li>
            <li class="previous{% if not posts.has_prev %} disabled{% endif %}">
                <a href="{{url_for('blogs', page = posts.prev_num)}}">
                    <span aria-hidden="true">&larr;</span>prev
                </a>
            </li>
            <li class="next">
                <a href="{{url_for('blogs', page = posts.pages)}}">
                    Last<span aria-hidden="true">&rarr;</span>
                </a>
            </li>
            <li class="next{% if not posts.has_next %} disabled{% endif %}">
                <a href="{{ url_for('blogs', page = posts.next_num) }}">
                    next<span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}