{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <b>Publish your blog：<b>
    {% if form %}
        {{ wtf.quick_form(form) }}
    {% endif %}
    
    <b>Your followed's blogs：</b>
        
    {% if not posts.items %}
        <br>
        your followed hava 0 blog! 
        You can first follow others user!
    {% endif %}
    
    {% for post in posts.items %}
        {% include 'post.html' %}
    {% endfor %}

    <nav aria-label="...">
        <ul class="pager">
            <li class="previous">
                <a href="{{ url_for('index', page = 1) }}">
                    <span aria-hidden="true">&larr;</span>First
                </a>
            </li>
            <li class="previous{% if not posts.has_prev %} disabled{% endif %}">
                <a href="{{ url_for('index', page = posts.prev_num) }}">
                    <span aria-hidden="true">&larr;</span>prev
                </a>
            </li>
            <li class="next">
                <a href="{{ url_for('index', page = posts.pages) }}">
                    Last<span aria-hidden="true">&rarr;</span>
                </a>
            </li>
            <li class="next{% if not posts.has_next %} disabled{% endif %}">
                <a href="{{ url_for('index', page = posts.next_num) }}">
                    next<span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}