<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user', nickname = post.author.nickname, page = 1) }}">
                <img src="{{ post.author.avatar(70) }}" />
            </a>
        </td>
        <td>
            <a href="{{ url_for('user', nickname = post.author.nickname, page = 1) }}">
                {{ post.author.nickname }}
            </a>
            says:
            <b>{{post.title}}</b>
            <br><br>
            {{ post.body | truncate(100, True) }}
        </td>
        <td width="70px">
            <a href="{{ url_for('detail', title = post.title) }}">
                detail
            </a>
        </td>
        {% if post.author.nickname == g.user.nickname %}
        <td width="70px">
            <a href="{{ url_for('del_blog', title = post.title) }}">
                删除
            </a>
        </td>
        {% endif %}
    </tr>
</table>