<!-- extend base layout -->
{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="256px"><img src='{{user.avatar(128)}}'></td>
            <td>
                <h1>User: {{user.nickname}}</h1>
                {% if user.about_me %}<p>{{user.about_me}}</p>{% endif %}
                {% if user.last_seen %}<p><i>Last seen on: {{user.last_seen}}</i></p>{% endif %}
                <p>
                    <a href="{{url_for('followers', nickname = user.nickname)}}">{{user.followers.count()}} followers</a> |
                    {% if user.id == g.user.id %}
                        <a href="{{url_for('edit')}}">Edit your profile</a>
                    {% elif g.user.is_following(user) %}
                        <a href="{{url_for('unfollow',nickname = user.nickname)}}">Unfollow</a>
                    {% else %}
                        <a href="{{url_for('follow',nickname = user.nickname)}}">Follow</a>
                    {% endif %}
                </p>
            </td>
        </tr>
    </table>

    <hr>
    
    <b>your blogs:</b>
    
    {% if not posts.items %}
        <br>
        you hava 0 blog and you have 0 followers! 
        You can publish your first blog!
    {% endif %}
    
    {% for post in posts.items: %}
        {% include 'post.html' %}
    {% endfor %}
    
    <br>
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous">
                <a href="{{ url_for('user', nickname = user.nickname, page = 1) }}">
                    <span aria-hidden="true">&larr;</span>First
                </a>
            </li>
            <li class="previous{% if not posts.has_prev %} disabled{% endif %}">
                <a href="{{url_for('user', nickname = user.nickname, page = posts.prev_num)}}">
                    <span aria-hidden="true">&larr;</span>prev
                </a>
            </li>
            <li class="next">
                <a href="{{url_for('user', nickname = user.nickname, page = posts.pages)}}">
                    Last<span aria-hidden="true">&rarr;</span>
                </a>
            </li>
            <li class="next{% if not posts.has_next %} disabled{% endif %}">
                <a href="{{ url_for('user', nickname = user.nickname, page = posts.next_num) }}">
                    next<span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}